.map-legend {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Certifique-se de que esteja acima do mapa */
}

.map-legend h5 {
    margin-top: 0;
}

.map-legend ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.map-legend li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.map-legend li span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 4px;
}

.status-descoberto {
    background-color: #343a40;
}

.status-coberto {
    background-color: #007bff;
}

.status-ativo {
    background-color: #28a745;
}

.status-inativo {
    background-color: #dc3545;
}
